@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    @apply bg-gray-50 dark:bg-gray-900 transition-colors duration-300;
  }

  body {
    @apply font-poppins bg-gray-50 text-gray-900;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FACC15;
  border-radius: 24px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #EAB308;
  border: 2px solid transparent;
  background-clip: content-box;
}